{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main>
    <section class="siteWeb">
        <div class="box-siteWeb">
            <h1>Création de sites web et formations </h1>
            <p>Création de site web, application, webdesign et print, SEO, conseil et formation</p>
            <div class="btn-siteWeb text-center">
                Découvrir
            </div>
        </div>
         <div class="logo-siteWeb">
            <img src="{{ asset('images/logo_graphitcom.png') }}"  >
        </div>
    </section>

    <section class="formation">
        <div class="box-formation">
            <h1>FORMATION</h1>
            <p>Se former à la création de sites internet apprenez à concevoir et gérer votre propre site web grâce à nos formations</p>
            <div class="btn-formation text-center">
                Découvrir
            </div>
        </div>
         <div class="img-formation">
            <img src="{{ asset('images/logo_graphitcom.png') }}" >
        </div>
    </section>
</main>




<main>
    <section class="siteWeb container">
        <div class="box-siteWeb">
            <h1>Création de sites web et formations </h1>
            <p>Création de site web, application, webdesign et print, SEO, conseil et formation</p>
            <div class="btn-siteWeb text-center">
                Découvrir
            </div>
        </div>
         <div class="logo-siteWeb">
            <img src="{{ asset('images/logo_graphitcom.png') }}"  >
        </div>
    </section>

    <section class="formation container">
        <div class="box-formation">
            <h1>FORMATION</h1>
            <p>Se former à la création de sites internet apprenez à concevoir et gérer votre propre site web grâce à nos formations</p>
            <div class="btn-formation text-center">
                Découvrir
            </div>
        </div>
         <div class="img-formation">
            <img src="{{ asset('images/logo_graphitcom.png') }}" >
        </div>
    </section>
</main>

{% endblock %}
